.carousel-caption {height:24px;}
.carousel-control.left {filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;}
.carousel-control.right {filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;}